@keyframes popup {
  0% {
    top: 0rem;
    opacity: 0;
    visibility: hidden;
  }

  60% {
    top: 2rem;
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}
